body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    /* чтобы не вываливались за пределы родителя */
}


.scene {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
}

.layer {
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 100%;
}

